

<span class="bg bg-info  p-3 m-3">{{ title }} Bonjour super Administrateur !! Hein </span>

 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand bg-warning" href="#">WebSiteSuperAdministrateur</a>
    </div>
    <ul class="nav navbar-nav">
     <li><a routerLink="/produits">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" routerLink="add-produits">Ajouter</a>

      </li>
      <li><a routerLink="add-produits">Modifier</a></li>
      <li><a routerLink="add-produits">Supprimer</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
